body {
    /*overflow: hidden;*/
    margin: 0;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #292929;
}

#section {
    position: absolute;
    top: 60px;
    left: 650px;
    width: 320px;
    visiblity: hidden;
}

#sectionTitle {
    font-size: 32px;
    font-weight: 300;
    padding-bottom: 7px;
}

#sectionText {
	  color: #6B6B6B;
	  text-align: justify;
	  line-height: 150%;
}

.rsv {
    fill: none;
    stroke-width: 1
}

.partial_dependence {
    fill: none;
    stroke: #555555;
    stroke-width: 3;
}
